@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothamPro.eot);
  src: url(../fonts/GothamPro.woff2) format("woff2"), url(../fonts/GothamPro.woff) format("woff"), url(../fonts/GothamPro.ttf) format("truetype"), url(../fonts/GothamPro.svg#GothamPro) format("svg"), url(../fonts/GothamPro.eot?#iefix) format("embedded-opentype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothamPro-Medium.eot);
  src: url(../fonts/GothamPro-Medium.woff2) format("woff2"), url(../fonts/GothamPro-Medium.woff) format("woff"), url(../fonts/GothamPro-Medium.ttf) format("truetype"), url(../fonts/GothamPro-Medium.svg#GothamPro-Medium) format("svg"), url(../fonts/GothamPro-Medium.eot?#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothamPro-Bold.eot);
  src: url(../fonts/GothamPro-Bold.woff2) format("woff2"), url(../fonts/GothamPro-Bold.woff) format("woff"), url(../fonts/GothamPro-Bold.ttf) format("truetype"), url(../fonts/GothamPro-Bold.svg#GothamPro-Bold) format("svg"), url(../fonts/GothamPro-Bold.eot?#iefix) format("embedded-opentype");
  font-style: normal; }

@font-face {
  font-family: GothamProBold;
  src: url(../fonts/GothamPro-Black.eot);
  src: url(../fonts/GothamPro-Black.woff2) format("woff2"), url(../fonts/GothamPro-Black.woff) format("woff"), url(../fonts/GothamPro-Black.ttf) format("truetype"), url(../fonts/GothamPro-Black.svg#GothamPro-Black) format("svg"), url(../fonts/GothamPro-Black.eot?#iefix) format("embedded-opentype");
  font-style: normal; }

body {
  color: #081757;
  background-color: white;
  font-family: "GothamProBold", "Gotham", Arial, sans-serif;
  font-weight: 800; }

.container {
  min-height: 100vh; }

.bg-blue {
  background-color: #081757; }

.bg-blue1 {
  background-color: #4f6ab1; }

.bg-blue2 {
  background-color: #688dc9; }

.bg-blue3 {
  background-color: #95b8e2; }

.bg-purple1 {
  background-color: #4d4a9a; }

.bg-purple2 {
  background-color: #4a3f92; }

.bg-purple3 {
  background-color: #5e3d91; }

.blue {
  color: #081757; }

.blue1 {
  color: #4f6ab1; }

.blue2 {
  color: #688dc9; }

.blue3 {
  color: #95b8e2; }

.purple1 {
  color: #4d4a9a; }

.purple2 {
  color: #4a3f92; }

.purple3 {
  color: #5e3d91; }

h1 {
  text-transform: lowercase;
  font-size: 240px;
  color: #c7cbd9; }

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 0;
  font-family: "GothamPro", "Gotham", Arial, sans-serif; }

h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "GothamPro", "Gotham", Arial, sans-serif; }

h4 {
  text-align: left;
  font-size: 32px;
  margin-bottom: 40px; }

p {
  font-size: 14px;
  text-align: left; }

.name-brand {
  white-space: nowrap;
  letter-spacing: 2.5px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center; }

.email {
  font-size: 18px;
  text-align: center; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.row-custom {
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.container-img {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .container-img img, .container-img svg {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: auto; }

.btn-custom {
  display: inline;
  text-align: center;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: white; }

.container {
  min-height: 100vh;
  padding-top: 20%; }
  .container .page-body {
    position: relative;
    top: 0;
    width: 100%; }
    .container .page-body h1 {
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }

#theme {
  margin: 100px; }
  #theme section {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    border: black 1px solid; }
  #theme #color .bg {
    width: 100%;
    height: 150px; }
  #theme #color .text {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    height: 150px; }

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 15px;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media screen and (max-width: 768px) {
    .navbar {
      padding: 10px 0; } }
  @media screen and (max-width: 768px) {
    .navbar .logo-brand img {
      width: 50px;
      height: 50px; } }
  @media screen and (max-width: 576px) {
    .navbar .logo-brand img {
      width: 40px;
      height: 40px; } }
  .navbar a {
    position: relative;
    margin: auto 15px;
    font-family: 'Gotham';
    text-transform: lowercase;
    font-size: 24px;
    font-weight: bold; }
    .navbar a:before {
      content: '';
      position: absolute;
      bottom: 3px;
      left: -5px;
      width: 0;
      height: 8px;
      background-color: #95b8e2;
      z-index: -1;
      transition: width .3s ease-in-out; }
    .navbar a:hover:before {
      transition: width .3s ease-in-out;
      width: 100%; }
  .navbar .menu-burger {
    position: relative; }
    .navbar .menu-burger .burger {
      position: absolute;
      bottom: 50%;
      right: 0;
      -webkit-transform: translateY(-20%);
          -ms-transform: translateY(-20%);
              transform: translateY(-20%); }
      .navbar .menu-burger .burger div {
        margin: 2px 0;
        width: 35px;
        height: 6px;
        border-radius: 5px; }

.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; }
