body {
  min-height: 100vh;
  color: $mainColor;
  background-color: white;
}

.bg-blue {
  background-color: $mainColor;
}
.bg-blue1 {
  background-color: $Blue1;
}
.bg-blue2 {
  background-color: $Blue2;
}
.bg-blue3 {
  background-color: $Blue3;
}
.bg-purple1 {
  background-color: $Purple1;
}
.bg-purple2 {
  background-color: $Purple2;
}
.bg-purple3 {
  background-color: $Purple3;
}
.blue {
  color: #081757;
}
.blue1 {
  color: #4f6ab1;
}
.blue2 {
  color: #688dc9;
}
.blue3 {
  color: #95b8e2;
}
.purple1 {
  color: #4d4a9a;
}
.purple2 {
  color: #4a3f92;
}
.purple3 {
  color: #5e3d91;
}

h1 {
  font-family: 'Gotham';
  font-weight: 100;
  text-transform: lowercase;
  font-size: 240px;
  color: #c7cbd9;
  font-weight: bold;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Gotham';
  font-size: 48px;
  margin-bottom: 0;
  font-weight: normal;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Gotham';
  font-size: 30px;
  font-weight: normal;
}

h4 {
  text-align: left;
  font-family: 'Gotham';
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

p {
  font-family: 'Gotham';
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}

.name-brand {
  white-space: nowrap;
  font-family: 'Gotham';
  font-weight: normal;
  letter-spacing: 2.5px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.email {
  font-family: 'Gotham';
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}


// blocks

.row-custom {
  justify-content: center;
}

.container-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  img, svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }
}

//buttons

.btn-custom {
  display: inline;
  font-family: 'Gotham';
  font-weight: bold;
  text-align: center;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: white;
}
