body {
  overflow-x: hidden;
  max-width: 100%;
  color: $mainColor;
  background-color: white;
  font-family: $light;
  font-weight: 800;
}
.container {
  min-height: 100vh;
}
// COULEURS
.bg-blue {
  background-color: $mainColor;
}
.bg-blue1 {
  background-color: $Blue1;
}
.bg-blue2 {
  background-color: $Blue2;
}
.bg-blue3 {
  background-color: $Blue3;
}
.bg-purple1 {
  background-color: $Purple1;
}
.bg-purple2 {
  background-color: $Purple2;
}
.bg-purple3 {
  background-color: $Purple3;
}
.blue {
  color: #081757 !important;
}
.blue1 {
  color: #4f6ab1 !important;
}
.blue2 {
  color: #688dc9 !important;
}
.blue3 {
  color: #95b8e2 !important;
}
.purple1 {
  color: #4d4a9a !important;
}
.purple2 {
  color: #4a3f92 !important;
}
.purple3 {
  color: #5e3d91 !important;
}
.grey {
  color: $Grey !important;
}
.grey1 {
  color: $Grey1 !important;
}
.white {
  color: white;
}
// TITRES
h1 {
  font-family: $black;
  text-transform: lowercase;
  font-size: 210px;
  color: #c7cbd9;
  @media screen and (max-width: 1200px) {
    font-size: 190px;
  }
  @media screen and (max-width: 992px) {
    font-size: 150px;
  }
  @media screen and (max-width: 515px) {
    font-size: 100px;
  }
  @media screen and (max-width: 360px) {
    font-size: 80px;
  }
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 0;
  font-family: $bold;
}
h3 {
  font-family: $medium;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: $bold;
}
h4 {
  font-family: $black;
  text-align: left;
  font-size: 32px;
  margin-bottom: 40px;
}
h5 {
  font-family: $bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 23px;
  margin-bottom: 40px;
}
// CONTENU DIVERS
p {
  font-size: 14px;
  text-align: left;
}
.name-brand {
  white-space: nowrap;
  letter-spacing: 2.5px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
.email {
  font-family: $bold;
  font-size: 18px;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
// BLOCKS
 .row-vertical-align {
   height: 100vh;
   align-items: center;
 }
.row-custom {
  // max-width: 100%;
  justify-content: center;
}
.container-img {
  width: 100%;
  img, svg {
    width: 100%;
    height: auto;
  }
}
.resize-90 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.resize-80 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.resize-70 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.resize-60 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.resize-50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
//BOUTONS
.btn-custom {
  display: inline;
  text-align: center;
  padding: 5px 15px;
  border-radius: 15px;
  // background-color: white;
}
//LAYOUT
.container {
  position: relative;
  padding: 18% 0 100px 0;
  @media screen and (max-width: 992px) {
    padding-top: 30%;
  }
  @media screen and (max-width: 515px) {
    padding-top: 35%;
  }
  @media screen and (max-width: 360px) {
    font-size: 45%;
  }

  .page-body {
    position: relative;
    top: 0;
    width: 100%;
    h1 {
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-67%);
      @media screen and (max-width: 515px) {
        transform: translateY(-50%);
        left: 15px;
      }
    }
    .container-content {
      position: 0;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}
.radius-container {
  width: 100%;
  height: 300px;
  .radius {
    height: 100%;
    border-radius: 0 0 50% 50%;
    animation: radius 1s forwards;
  }
}
//fonts
.light {
  font-family: $light;
}
.regular {
  font-family: $regular;
}
.medium {
  font-family: $medium;
}
.bold {
  font-family: $bold;
}
.black {
  font-family: $black;
}

video::-webkit-media-controls-panel {
   background-image: none !important;
   filter: brightness(0.4);
}











//
