.footer {
  font-family: $bold;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 15px;
  width: 100%;
  text-align: center;

  div {
    // color: white;
  }
}

#myCanvas {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 120px;
}
