$mainColor: #081757; //color bleu foncé principal
$Blue1 : #4f6ab1;
$Blue2 : #688dc9;
$Blue3 : #95b8e2;
$Purple1 : #4d4a9a;
$Purple2 : #4a3f92;
$Purple3 : #5e3d91;
$Grey : #777777;
$Grey1 : #B7B6B6;

$bold : "GothamPro","Gotham",Arial,sans-serif;
$black : "GothamProBold","Gotham",Arial,sans-serif;
