#about {
  .page-body {
    .container-content {
      .content {
        .container-text {
          @media screen and (max-width: 992px) {
            margin-top: 80px;
          }
          margin-left: 1.5rem;
          @media screen and (max-width: 992px) {
            margin-left: 0;
          }
          p {
            margin-bottom: 2rem;
          }
        }
        .container-img {
          width: 95%;
          max-height: 600px;
          overflow: hidden;
          @media screen and (max-width: 992px) {
            margin-top: 80px;
          }
        }
        .row-custom {
          justify-content: flex-start;
          align-items: center;
          @media screen and (max-width: 992px) {
            align-items: flex-start;
          }
        }
        .container-btn {
          margin-top: 50px;
          a {
            transition: .1s ease-in-out background-color;
            &:hover {
              transition: .1s ease-in-out background-color;
              color: white;
              background-color: $Blue2;
            }
          }
        }
      }
    }
  }


}
