#about {
  .container {
    padding-bottom: 0;
  }
  .page-body {
    .container-content {
      .content {
        .container-text {
          @media screen and (max-width: 992px) {
            margin-top: 80px;
          }
          margin-left: 1.5rem;
          @media screen and (max-width: 992px) {
            margin-left: 0;
          }
          p {
            margin-bottom: 2rem;
          }
        }
        .container-img {
          margin-right: 0;
          width: 95%;
          max-height: 600px;
          overflow: hidden;
          @media screen and (max-width: 992px) {
            margin-top: 80px;
          }
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
        .row-custom {
          margin: 0;
          justify-content: flex-start;
          align-items: center;
          @media screen and (max-width: 992px) {
            justify-content: center;
            align-items: flex-start;
          }
        }
        .container-btn {
          margin-top: 50px;
          a {
            transition: .1s ease-in-out background-color;
            &:hover {
              transition: .1s ease-in-out background-color;
              color: white;
              background-color: $Blue2;
            }
          }
        }
        .cv-container {
          padding: 300px 0 100px 0;
          .row-custom {
            align-items: flex-start;
            justify-content: space-around;
          }
          p {
            font-size: 18px;
          }
          .elt-cv {
            margin-bottom: 50px;

            p {
              font-size: 15px;
              font-family: $medium;

              & span {
                font-family: $light;
              }
            }
          }
        }
      }
    }
  }
  .super-container {
    .container {
      padding-top: 0;
    }
  }

  #myCanvas {
    // display: none;
    width: 98.9vw;
  }


}
