.project-template-1 {

  .blue-container {
    background-color: $Blue1;
    color: white;
  }

  .row-custom {
    margin-bottom: 250px;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 768px) {
      margin: auto;
    }
  }

  .desc-container {
    .elt-description {
      margin: 50px auto;
      h5 {
        margin-bottom: 10px;
      }
      & * {
        text-align: center;
      }
    }
  }

  .kill-margin-padding {
    margin: 0 auto !important;
    padding: 100px auto !important;
  }



}
