#work {
  .elt-project {
    @media screen and (max-width: 992px) {
      margin: 0 100px 100px 100px;
    }
    @media screen and (max-width: 576px) {
      margin: 0 60px 50px 60px;
    }
  }
  .container-project {
    margin: 0 50px;
  }

  svg {
    transform: scale(1.2) translateY(-30px);
  }

  .calque {
    transform-origin: 50% 50%;
  }
}
